In [42]:
#here we import our datasets
import numpy as np
import pandas as pd

In [43]:
Email_fact_data = pd.read_csv("./Onyx_Data_Email_Fact_table.csv")
Email_fact_data

,Email id,From Name,From seniority,From Department,To Name,To seniority,To Department,Email topic,Date,Sentiment,Is opened?,Device,Within work hours,Within workdays
0,1,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,Operational Issues,3/14/2024,neutral,opened,desktop,yes,yes
1,2,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,HR related topics,3/22/2024,positive,opened,mobile,no,yes
2,3,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,Meeting Scheduling,3/26/2024,neutral,unopened,desktop,yes,yes
3,4,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,HR related topics,3/11/2024,neutral,opened,mobile,yes,yes
4,5,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,HR related topics,3/11/2024,positive,opened,mobile,yes,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1127,1193,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Finance and Accounting,3/28/2024,positive,opened,mobile,yes,yes
1128,1194,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Finance and Accounting,3/7/2024,negative,opened,desktop,yes,yes
1129,1195,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Operational Issues,3/14/2024,neutral,opened,desktop,no,yes
1130,1196,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Meeting Scheduling,3/8/2024,positive,opened,desktop,yes,yes
1131,1197,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Finance and Accounting,3/23/2024,neutral,opened,mobile,no,no

In [44]:
Email_dim = pd.read_csv("./Onyx_Data_Email_Dim_table.txt")
Email_dim

,Name,Department,email,Seniority,Department color,Department aura
0,Leona McAree,Executive Management,leona.mcaree@kochgroup.com,C-level,red,aura1
1,Constancia Di Bartolomeo,Executive Management,constancia.di bartolomeo@kochgroup.com,C-level,red,aura1
2,Corey Scandwright,Executive Management,corey.scandwright@kochgroup.com,C-level,red,aura1
3,Elsinore Waterland,Human Resources,elsinore.waterland@kochgroup.com,Middle level management,yellow,aura2
4,Petronilla Mapes,Human Resources,petronilla.mapes@kochgroup.com,Professional,yellow,aura2
...,...,...,...,...,...,...
42,Minette Southard,Product development,minette.southard@kochgroup.com,Professional,brown,aura9
43,Theressa Tuddall,Product development,theressa.tuddall@kochgroup.com,Professional,brown,aura9
44,Oran Benge,Product development,oran.benge@kochgroup.com,Professional,brown,aura9
45,Maggy Putson,Product development,maggy.putson@kochgroup.com,Professional,brown,aura9
46,Barry Goundsy,Product development,barry.goundsy@kochgroup.com,Professional,brown,aura9

In [45]:
#now we proceed to identifying anormaies in our dataset 

""" we look out for duplicate records
missing values
formatting"""

' we look out for duplicate records\nmissing values\nformatting'

In [46]:
Email_fact_data.drop_duplicates()

,Email id,From Name,From seniority,From Department,To Name,To seniority,To Department,Email topic,Date,Sentiment,Is opened?,Device,Within work hours,Within workdays
0,1,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,Operational Issues,3/14/2024,neutral,opened,desktop,yes,yes
1,2,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,HR related topics,3/22/2024,positive,opened,mobile,no,yes
2,3,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,Meeting Scheduling,3/26/2024,neutral,unopened,desktop,yes,yes
3,4,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,HR related topics,3/11/2024,neutral,opened,mobile,yes,yes
4,5,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,HR related topics,3/11/2024,positive,opened,mobile,yes,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1127,1193,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Finance and Accounting,3/28/2024,positive,opened,mobile,yes,yes
1128,1194,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Finance and Accounting,3/7/2024,negative,opened,desktop,yes,yes
1129,1195,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Operational Issues,3/14/2024,neutral,opened,desktop,no,yes
1130,1196,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Meeting Scheduling,3/8/2024,positive,opened,desktop,yes,yes
1131,1197,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Finance and Accounting,3/23/2024,neutral,opened,mobile,no,no

In [47]:
Email_fact_data[Email_fact_data.isnull() == True]

,Email id,From Name,From seniority,From Department,To Name,To seniority,To Department,Email topic,Date,Sentiment,Is opened?,Device,Within work hours,Within workdays
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1128,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1131,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
#modify column names

In [49]:
Email_fact_data.columns

Index(['Email id', 'From Name', 'From seniority', 'From Department', 'To Name',
       'To seniority', 'To Department', 'Email topic', 'Date', 'Sentiment',
       'Is opened?', 'Device', 'Within work hours', 'Within workdays'],
      dtype='object')

In [50]:
#we standardize our column names

New_columns = ['Email_id', 'Sender_Name', 'Sender_cadre', 'Sender_dept', 'Rec_name',
       'Rec_cadre', 'Rec_dept', 'Email_subject', 'Msg_Date', 'Sentiment',
       'Msg_status', 'Device', 'Within_work_hrs', 'Within_workdays']

Email_fact_data.columns = New_columns

In [51]:
Email_fact_data

,Email_id,Sender_Name,Sender_cadre,Sender_dept,Rec_name,Rec_cadre,Rec_dept,Email_subject,Msg_Date,Sentiment,Msg_status,Device,Within_work_hrs,Within_workdays
0,1,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,Operational Issues,3/14/2024,neutral,opened,desktop,yes,yes
1,2,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,HR related topics,3/22/2024,positive,opened,mobile,no,yes
2,3,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,Meeting Scheduling,3/26/2024,neutral,unopened,desktop,yes,yes
3,4,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,HR related topics,3/11/2024,neutral,opened,mobile,yes,yes
4,5,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,HR related topics,3/11/2024,positive,opened,mobile,yes,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1127,1193,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Finance and Accounting,3/28/2024,positive,opened,mobile,yes,yes
1128,1194,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Finance and Accounting,3/7/2024,negative,opened,desktop,yes,yes
1129,1195,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Operational Issues,3/14/2024,neutral,opened,desktop,no,yes
1130,1196,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Meeting Scheduling,3/8/2024,positive,opened,desktop,yes,yes
1131,1197,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Finance and Accounting,3/23/2024,neutral,opened,mobile,no,no

In [52]:
#now we fix the date column
Email_fact_data['Msg_Date'] = pd.to_datetime(Email_fact_data['Msg_Date'])
Email_fact_data

,Email_id,Sender_Name,Sender_cadre,Sender_dept,Rec_name,Rec_cadre,Rec_dept,Email_subject,Msg_Date,Sentiment,Msg_status,Device,Within_work_hrs,Within_workdays
0,1,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,Operational Issues,2024-03-14,neutral,opened,desktop,yes,yes
1,2,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,HR related topics,2024-03-22,positive,opened,mobile,no,yes
2,3,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,Meeting Scheduling,2024-03-26,neutral,unopened,desktop,yes,yes
3,4,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,HR related topics,2024-03-11,neutral,opened,mobile,yes,yes
4,5,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,HR related topics,2024-03-11,positive,opened,mobile,yes,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1127,1193,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Finance and Accounting,2024-03-28,positive,opened,mobile,yes,yes
1128,1194,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Finance and Accounting,2024-03-07,negative,opened,desktop,yes,yes
1129,1195,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Operational Issues,2024-03-14,neutral,opened,desktop,no,yes
1130,1196,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Meeting Scheduling,2024-03-08,positive,opened,desktop,yes,yes
1131,1197,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Finance and Accounting,2024-03-23,neutral,opened,mobile,no,no

In [53]:
#we move on to clean our second table

Email_dim.head()

,Name,Department,email,Seniority,Department color,Department aura
0,Leona McAree,Executive Management,leona.mcaree@kochgroup.com,C-level,red,aura1
1,Constancia Di Bartolomeo,Executive Management,constancia.di bartolomeo@kochgroup.com,C-level,red,aura1
2,Corey Scandwright,Executive Management,corey.scandwright@kochgroup.com,C-level,red,aura1
3,Elsinore Waterland,Human Resources,elsinore.waterland@kochgroup.com,Middle level management,yellow,aura2
4,Petronilla Mapes,Human Resources,petronilla.mapes@kochgroup.com,Professional,yellow,aura2

In [54]:
Email_dim.columns

Index(['Name', 'Department', 'email', 'Seniority', 'Department color',
       'Department aura'],
      dtype='object')

In [55]:
Email_dim.rename(columns={'Department color': 'Dept_color'}, inplace = True)

In [56]:
Email_dim.rename(columns={'Department aura': 'Dept_aura'},inplace= True )

Email_dim.head()

,Name,Department,email,Seniority,Dept_color,Dept_aura
0,Leona McAree,Executive Management,leona.mcaree@kochgroup.com,C-level,red,aura1
1,Constancia Di Bartolomeo,Executive Management,constancia.di bartolomeo@kochgroup.com,C-level,red,aura1
2,Corey Scandwright,Executive Management,corey.scandwright@kochgroup.com,C-level,red,aura1
3,Elsinore Waterland,Human Resources,elsinore.waterland@kochgroup.com,Middle level management,yellow,aura2
4,Petronilla Mapes,Human Resources,petronilla.mapes@kochgroup.com,Professional,yellow,aura2

In [57]:
#now we start our analysis

#Email volumes and communication patterns

#total email sent

tot_emails = Email_fact_data['Email_id'].count()
tot_emails
print('total emails for the month of March is:', tot_emails)

total emails for the month of March is: 1132

In [58]:
#email volume sent by dept
email_by_dept = Email_fact_data['Sender_dept'].value_counts().sort_values(ascending= False)
email_by_dept

Sender_dept
Executive Management           287
Marketing                      146
Product development            133
Sales                          128
Information Technology (IT)    120
Legal                          117
Customer Service               105
Finance and Accounting          57
Human Resources                 39
Name: count, dtype: int64

In [78]:
#email volume incoming/received by department

email_rec_by_dept = Email_fact_data['Rec_dept'].value_counts().sort_values(ascending= False)
email_rec_by_dept

Rec_dept
Product development            205
Marketing                      164
Sales                          160
Information Technology (IT)    155
Legal                          136
Customer Service               116
Finance and Accounting          90
Human Resources                 58
Executive Management            48
Name: count, dtype: int64

In [59]:
#email volume sent by cadre

email_by_cadre = Email_fact_data[['Sender_cadre']].value_counts().sort_values(ascending= False)
email_by_cadre

Sender_cadre
Professional               500
Middle level management    345
C-level                    287
Name: count, dtype: int64

In [60]:
#emails recieved by cadre
email_rec_by_cadre = Email_fact_data[['Rec_cadre']].value_counts().sort_values(ascending= False)
email_rec_by_cadre

Rec_cadre
Professional               649
Middle level management    435
C-level                     48
Name: count, dtype: int64

In [61]:
#we assign our dataset to a new variable

email_fact = Email_fact_data

In [62]:
#total emails sent by days
#first we extract days from our date column

email_by_days = Email_fact_data['Msg_Date'].value_counts().sort_index(ascending= True)
email_by_days

Msg_Date
2024-03-01    23
2024-03-02     9
2024-03-03     2
2024-03-04    27
2024-03-05    52
2024-03-06    51
2024-03-07    61
2024-03-08    47
2024-03-11    49
2024-03-12    66
2024-03-13    70
2024-03-14    77
2024-03-15    66
2024-03-16     7
2024-03-17     5
2024-03-18    49
2024-03-19    34
2024-03-20    46
2024-03-21    41
2024-03-22    39
2024-03-23    11
2024-03-24     7
2024-03-25    49
2024-03-26    53
2024-03-27    53
2024-03-28    51
2024-03-29    62
2024-03-30    16
2024-03-31     9
Name: count, dtype: int64

In [63]:
pd.set_option('display.max_rows', 31 )

In [81]:
#now we shall expand our fact table to include the following columns
"""day_name = this gives us the name of the day in the week, 
week_no"""

#day_name

Email_fact_data['day_name'] = Email_fact_data['Msg_Date'].dt.day_name()
Email_fact_data

#next we shall create a custom funcdtion to enable us get the week no

#first we define our function
#def week_of_month(dt):
    #next we extract the first day of the month
   # first_day = dt.replace(day = 1)
    #dom = dt.day
    #adjusted_dom = first_day.weekday() + dom
    #return  int(np.ceil(adjusted_dom/7.0))



#week_no
#week_extract = Email_fact_data['Msg_Date'].apply(week_of_month)
#Email_fact_data['Week_of_month'] = 'week' + ' ' + week_extract.astype(str)
Email_fact_data

,Email_id,Sender_Name,Sender_cadre,Sender_dept,Rec_name,Rec_cadre,Rec_dept,Email_subject,Msg_Date,Sentiment,Msg_status,Device,Within_work_hrs,Within_workdays,day_name,Week_of_month,Day_of_mon
0,1,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,Operational Issues,2024-03-14,neutral,opened,desktop,yes,yes,Thursday,3,14
1,2,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,HR related topics,2024-03-22,positive,opened,mobile,no,yes,Friday,4,22
2,3,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,Meeting Scheduling,2024-03-26,neutral,unopened,desktop,yes,yes,Tuesday,5,26
3,4,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,HR related topics,2024-03-11,neutral,opened,mobile,yes,yes,Monday,3,11
4,5,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,HR related topics,2024-03-11,positive,opened,mobile,yes,yes,Monday,3,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1127,1193,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Finance and Accounting,2024-03-28,positive,opened,mobile,yes,yes,Thursday,5,28
1128,1194,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Finance and Accounting,2024-03-07,negative,opened,desktop,yes,yes,Thursday,2,7
1129,1195,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Operational Issues,2024-03-14,neutral,opened,desktop,no,yes,Thursday,3,14
1130,1196,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Meeting Scheduling,2024-03-08,positive,opened,desktop,yes,yes,Friday,2,8
1131,1197,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Finance and Accounting,2024-03-23,neutral,opened,mobile,no,no,Saturday,4,23

In [80]:
Email_fact_data['Day_of_mon'] = Email_fact_data['Msg_Date'].dt.day

In [65]:
#now we shall look at the number of emails by days and week
email_days = Email_fact_data['day_name'].explode().value_counts().sort_values(ascending = False)
email_days

day_name
Friday       237
Thursday     230
Wednesday    220
Tuesday      205
Monday       174
Saturday      43
Sunday        23
Name: count, dtype: int64

In [66]:
#weekly emails sent
weekly_email = Email_fact_data['Week_of_month'].explode().value_counts().sort_values
weekly_email

#email_weekly = Email_fact_data['Week_of_month'].value_counts()
#email_weekly

<bound method Series.sort_values of Week_of_month
week 3    340
week 5    293
week 2    238
week 4    227
week 1     34
Name: count, dtype: int64>

In [83]:
#weekly and daily email distribution
Email_fact_data.sort_index()
day_week = Email_fact_data.groupby(['Week_of_month', 'Day_of_mon' ,'day_name']).size().reset_index(name = 'counts').sort_values(by = ['Week_of_month', 'counts'], ascending= [True, False])
day_week

    Week_of_month  Day_of_mon   day_name  counts
0               1           1     Friday      23
1               1           2   Saturday       9
2               1           3     Sunday       2
6               2           7   Thursday      61
4               2           5    Tuesday      52
5               2           6  Wednesday      51
7               2           8     Friday      47
3               2           4     Monday      27
11              3          14   Thursday      77
10              3          13  Wednesday      70
9               3          12    Tuesday      66
12              3          15     Friday      66
8               3          11     Monday      49
13              3          16   Saturday       7
14              3          17     Sunday       5
15              4          18     Monday      49
17              4          20  Wednesday      46
18              4          21   Thursday      41
19              4          22     Friday      39
16              4          19    Tuesday      34
20              4          23   Saturday      11
21              4          24     Sunday       7
26              5          29     Friday      62
23              5          26    Tuesday      53
24              5          27  Wednesday      53
25              5          28   Thursday      51
22              5          25     Monday      49
27              5          30   Saturday      16
28              5          31     Sunday       9

In [68]:
#email by sender_cadre

sender_cadre = Email_fact_data['Sender_cadre'].value_counts().sort_values(ascending = False)
sender_cadre

Sender_cadre
Professional               500
Middle level management    345
C-level                    287
Name: count, dtype: int64

In [69]:
#email by rec_cadre 
rec_cadre = Email_fact_data['Rec_cadre'].value_counts().sort_values(ascending = False)
rec_cadre

Rec_cadre
Professional               649
Middle level management    435
C-level                     48
Name: count, dtype: int64

In [70]:
#email exchnage between departments
email_exc_dept = Email_fact_data.groupby('Sender_dept')['Rec_dept'].value_counts()
email_exc_dept

Sender_dept           Rec_dept
Customer Service      Customer Service               94
                      Information Technology (IT)    11
Executive Management  Product development            69
                      Executive Management           48
                      Finance and Accounting         37
                                                     ..
Sales                 Sales                          86
                      Legal                          24
                      Marketing                       7
                      Information Technology (IT)     6
                      Finance and Accounting          5
Name: count, Length: 39, dtype: int64

In [71]:
email_exc_dept = Email_fact_data.groupby(['Sender_dept', 'Rec_dept']) ['Email_id'].count().reset_index(name = 'counts')
email_exc_dept

             Sender_dept                     Rec_dept  counts
0       Customer Service             Customer Service      94
1       Customer Service  Information Technology (IT)      11
2   Executive Management             Customer Service      11
3   Executive Management         Executive Management      48
4   Executive Management       Finance and Accounting      37
..                   ...                          ...     ...
34                 Sales       Finance and Accounting       5
35                 Sales  Information Technology (IT)       6
36                 Sales                        Legal      24
37                 Sales                    Marketing       7
38                 Sales                        Sales      86

[39 rows x 3 columns]

In [73]:
mail_by_dev = Email_fact_data['Device'].value_counts(normalize= True)
mail_by_dev

Device
desktop    0.759717
mobile     0.240283
Name: proportion, dtype: float64

In [74]:
mail_by_sent = Email_fact_data['Sentiment'].value_counts()
mail_by_sent

Sentiment
neutral     660
positive    353
negative    119
Name: count, dtype: int64

In [75]:
mail_stat_by_sent = Email_fact_data.groupby('Sentiment')['Msg_status'].value_counts().reset_index(name = 'counts')
mail_stat_by_sent

  Sentiment Msg_status  counts
0  negative     opened     109
1  negative   unopened      10
2   neutral     opened     595
3   neutral   unopened      65
4  positive     opened     330
5  positive   unopened      23