In [69]:
#here we import our datasets
import numpy as np
import pandas as pd

In [80]:
Email_fact_data = pd.read_csv("./Onyx_Data_Email_Fact_table.csv", index_col = "Email id")
Email_fact_data

,From Name,From seniority,From Department,To Name,To seniority,To Department,Email topic,Date,Sentiment,Is opened?,Device,Within work hours,Within workdays
Email id,,,,,,,,,,,,,
1,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,Operational Issues,3/14/2024,neutral,opened,desktop,yes,yes
2,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,HR related topics,3/22/2024,positive,opened,mobile,no,yes
3,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,Meeting Scheduling,3/26/2024,neutral,unopened,desktop,yes,yes
4,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,HR related topics,3/11/2024,neutral,opened,mobile,yes,yes
5,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,HR related topics,3/11/2024,positive,opened,mobile,yes,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1193,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Finance and Accounting,3/28/2024,positive,opened,mobile,yes,yes
1194,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Finance and Accounting,3/7/2024,negative,opened,desktop,yes,yes
1195,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Operational Issues,3/14/2024,neutral,opened,desktop,no,yes
1196,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Meeting Scheduling,3/8/2024,positive,opened,desktop,yes,yes
1197,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Finance and Accounting,3/23/2024,neutral,opened,mobile,no,no

In [81]:
Email_dim = pd.read_csv("./Onyx_Data_Email_Dim_table.txt")
Email_dim

,Name,Department,email,Seniority,Department color,Department aura
0,Leona McAree,Executive Management,leona.mcaree@kochgroup.com,C-level,red,aura1
1,Constancia Di Bartolomeo,Executive Management,constancia.di bartolomeo@kochgroup.com,C-level,red,aura1
2,Corey Scandwright,Executive Management,corey.scandwright@kochgroup.com,C-level,red,aura1
3,Elsinore Waterland,Human Resources,elsinore.waterland@kochgroup.com,Middle level management,yellow,aura2
4,Petronilla Mapes,Human Resources,petronilla.mapes@kochgroup.com,Professional,yellow,aura2
5,Elbertine Dowe,Human Resources,elbertine.dowe@kochgroup.com,Professional,yellow,aura2
6,Blithe Arnaudet,Finance and Accounting,blithe.arnaudet@kochgroup.com,Middle level management,green,aura3
7,Ozzy Jeffries,Finance and Accounting,ozzy.jeffries@kochgroup.com,Professional,green,aura3
8,Constantino FitzGilbert,Finance and Accounting,constantino.fitzgilbert@kochgroup.com,Professional,green,aura3
9,Traci Habbal,Marketing,traci.habbal@kochgroup.com,Middle level management,blue,aura4
10,Roger Tabbernor,Marketing,roger.tabbernor@kochgroup.com,Professional,blue,aura4
11,Lazarus O'Halleghane,Marketing,lazarus.o'halleghane@kochgroup.com,Professional,blue,aura4
12,Karine Barclay,Marketing,karine.barclay@kochgroup.com,Professional,blue,aura4
13,Petronille Jouen,Marketing,petronille.jouen@kochgroup.com,Professional,blue,aura4
14,Dorie Parradine,Marketing,dorie.parradine@kochgroup.com,Professional,blue,aura4
15,Emmey Matoshin,Sales,emmey.matoshin@kochgroup.com,Middle level management,gray,aura5
16,Nelia Routledge,Sales,nelia.routledge@kochgroup.com,Professional,gray,aura5
17,Ferdinande Stickels,Sales,ferdinande.stickels@kochgroup.com,Professional,gray,aura5
18,Tades Querrard,Sales,tades.querrard@kochgroup.com,Professional,gray,aura5
19,Anatole Hansie,Sales,anatole.hansie@kochgroup.com,Professional,gray,aura5
20,Chris Consadine,Sales,chris.consadine@kochgroup.com,Professional,gray,aura5
21,Grace Spracklin,Sales,grace.spracklin@kochgroup.com,Professional,gray,aura5
22,Sumner Blakeway,Sales,sumner.blakeway@kochgroup.com,Professional,gray,aura5
23,Abigael Alred,Information Technology (IT),abigael.alred@kochgroup.com,Middle level management,black,aura6
24,Reina Trobey,Information Technology (IT),reina.trobey@kochgroup.com,Professional,black,aura6
25,Madge Torrejon,Information Technology (IT),madge.torrejon@kochgroup.com,Professional,black,aura6
26,Marilyn Seeman,Information Technology (IT),marilyn.seeman@kochgroup.com,Professional,black,aura6
27,Katina Darter,Information Technology (IT),katina.darter@kochgroup.com,Professional,black,aura6
28,Lynett Amy,Information Technology (IT),lynett.amy@kochgroup.com,Professional,black,aura6
29,Mata McGifford,Customer Service,mata.mcgifford@kochgroup.com,Middle level management,orange,aura7
30,Mort De Benedictis,Customer Service,mort.de benedictis@kochgroup.com,Professional,orange,aura7
31,Tamara Brewitt,Customer Service,tamara.brewitt@kochgroup.com,Professional,orange,aura7
32,Edithe Cinnamond,Customer Service,edithe.cinnamond@kochgroup.com,Professional,orange,aura7
33,Morly Finey,Customer Service,morly.finey@kochgroup.com,Professional,orange,aura7
34,Angie Penticost,Customer Service,angie.penticost@kochgroup.com,Professional,orange,aura7
35,Maribelle Oliver,Customer Service,maribelle.oliver@kochgroup.com,Professional,orange,aura7
36,Jeannie Moggan,Legal,jeannie.moggan@kochgroup.com,Middle level management,purple,aura8
37,Faythe Vassel,Legal,faythe.vassel@kochgroup.com,Professional,purple,aura8
38,Maurine Golding,Legal,maurine.golding@kochgroup.com,Professional,purple,aura8
39,Jorey Deguara,Product development,jorey.deguara@kochgroup.com,Middle level management,brown,aura9
40,Rodrique Coulston,Product development,rodrique.coulston@kochgroup.com,Professional,brown,aura9
41,Lisette Loweth,Product development,lisette.loweth@kochgroup.com,Professional,brown,aura9
42,Minette Southard,Product development,minette.southard@kochgroup.com,Professional,brown,aura9
43,Theressa Tuddall,Product development,theressa.tuddall@kochgroup.com,Professional,brown,aura9
44,Oran Benge,Product development,oran.benge@kochgroup.com,Professional,brown,aura9
45,Maggy Putson,Product development,maggy.putson@kochgroup.com,Professional,brown,aura9
46,Barry Goundsy,Product development,barry.goundsy@kochgroup.com,Professional,brown,aura9

DATA CLEANING

In [33]:
#now we proceed to identifying anormaies in our dataset 

""" we look out for duplicate records
missing values
formatting"""

' we look out for duplicate records\nmissing values\nformatting'

In [82]:
Email_fact_data.drop_duplicates()

,From Name,From seniority,From Department,To Name,To seniority,To Department,Email topic,Date,Sentiment,Is opened?,Device,Within work hours,Within workdays
Email id,,,,,,,,,,,,,
1,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,Operational Issues,3/14/2024,neutral,opened,desktop,yes,yes
2,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,HR related topics,3/22/2024,positive,opened,mobile,no,yes
3,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,Meeting Scheduling,3/26/2024,neutral,unopened,desktop,yes,yes
4,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,HR related topics,3/11/2024,neutral,opened,mobile,yes,yes
5,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,HR related topics,3/11/2024,positive,opened,mobile,yes,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1193,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Finance and Accounting,3/28/2024,positive,opened,mobile,yes,yes
1194,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Finance and Accounting,3/7/2024,negative,opened,desktop,yes,yes
1195,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Operational Issues,3/14/2024,neutral,opened,desktop,no,yes
1196,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Meeting Scheduling,3/8/2024,positive,opened,desktop,yes,yes
1197,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Finance and Accounting,3/23/2024,neutral,opened,mobile,no,no

In [83]:
#checking for nulls within our dataset
Email_fact_data[Email_fact_data.isnull() == True]

##Email_fact_data.isnull() == True

,From Name,From seniority,From Department,To Name,To seniority,To Department,Email topic,Date,Sentiment,Is opened?,Device,Within work hours,Within workdays
Email id,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1193,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
#resetting column names
Email_fact_data.reset_index(inplace= True)

In [85]:
Email_fact_data.columns

Index(['Email id', 'From Name', 'From seniority', 'From Department', 'To Name',
       'To seniority', 'To Department', 'Email topic', 'Date', 'Sentiment',
       'Is opened?', 'Device', 'Within work hours', 'Within workdays'],
      dtype='object')

In [86]:
#we standardize our column names

New_columns = ['Email_id', 'Sender_Name', 'Sender_cadre', 'Sender_dept', 'Rec_name',
       'Rec_cadre', 'Rec_dept', 'Email_subject', 'Msg_Date', 'Sentiment',
       'Msg_status', 'Device', 'Within_work_hrs', 'Within_workdays']

Email_fact_data.columns = New_columns

In [95]:
#renaming single columns
Email_fact_data.rename(columns = {'Msg_status': 'Message_status'}, inplace= True)

In [96]:
Email_fact_data

,Email_id,Sender_Name,Sender_cadre,Sender_dept,Rec_name,Rec_cadre,Rec_dept,Email_subject,Msg_Date,Sentiment,Message_status,Device,Within_work_hrs,Within_workdays
0,1,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,Operational Issues,3/14/2024,neutral,opened,desktop,yes,yes
1,2,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,HR related topics,3/22/2024,positive,opened,mobile,no,yes
2,3,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,Meeting Scheduling,3/26/2024,neutral,unopened,desktop,yes,yes
3,4,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,HR related topics,3/11/2024,neutral,opened,mobile,yes,yes
4,5,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,HR related topics,3/11/2024,positive,opened,mobile,yes,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1127,1193,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Finance and Accounting,3/28/2024,positive,opened,mobile,yes,yes
1128,1194,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Finance and Accounting,3/7/2024,negative,opened,desktop,yes,yes
1129,1195,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Operational Issues,3/14/2024,neutral,opened,desktop,no,yes
1130,1196,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Meeting Scheduling,3/8/2024,positive,opened,desktop,yes,yes
1131,1197,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Finance and Accounting,3/23/2024,neutral,opened,mobile,no,no

In [106]:
#now we fix the date column
Email_fact_data['Msg_Date'] = pd.to_datetime(Email_fact_data['Msg_Date'])
Email_fact_data

,Email_id,Sender_Name,Sender_cadre,Sender_dept,Rec_name,Rec_cadre,Rec_dept,Email_subject,Msg_Date,Sentiment,Message_status,Device,Within_work_hrs,Within_workdays
0,1,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,Operational Issues,2024-03-14,neutral,opened,desktop,yes,yes
1,2,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,HR related topics,2024-03-22,positive,opened,mobile,no,yes
2,3,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,Meeting Scheduling,2024-03-26,neutral,unopened,desktop,yes,yes
3,4,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,HR related topics,2024-03-11,neutral,opened,mobile,yes,yes
4,5,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,HR related topics,2024-03-11,positive,opened,mobile,yes,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1127,1193,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Finance and Accounting,2024-03-28,positive,opened,mobile,yes,yes
1128,1194,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Finance and Accounting,2024-03-07,negative,opened,desktop,yes,yes
1129,1195,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Operational Issues,2024-03-14,neutral,opened,desktop,no,yes
1130,1196,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Meeting Scheduling,2024-03-08,positive,opened,desktop,yes,yes
1131,1197,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Finance and Accounting,2024-03-23,neutral,opened,mobile,no,no

In [41]:
#we move on to clean our second table

Email_dim.head()

,Name,Department,email,Seniority,Department color,Department aura
0,Leona McAree,Executive Management,leona.mcaree@kochgroup.com,C-level,red,aura1
1,Constancia Di Bartolomeo,Executive Management,constancia.di bartolomeo@kochgroup.com,C-level,red,aura1
2,Corey Scandwright,Executive Management,corey.scandwright@kochgroup.com,C-level,red,aura1
3,Elsinore Waterland,Human Resources,elsinore.waterland@kochgroup.com,Middle level management,yellow,aura2
4,Petronilla Mapes,Human Resources,petronilla.mapes@kochgroup.com,Professional,yellow,aura2

In [42]:
Email_dim.columns

Index(['Name', 'Department', 'email', 'Seniority', 'Department color',
       'Department aura'],
      dtype='object')

In [43]:
Email_dim.rename(columns={'Department color': 'Dept_color'}, inplace = True)

In [44]:
Email_dim.rename(columns={'Department aura': 'Dept_aura'},inplace= True )

Email_dim.head()

,Name,Department,email,Seniority,Dept_color,Dept_aura
0,Leona McAree,Executive Management,leona.mcaree@kochgroup.com,C-level,red,aura1
1,Constancia Di Bartolomeo,Executive Management,constancia.di bartolomeo@kochgroup.com,C-level,red,aura1
2,Corey Scandwright,Executive Management,corey.scandwright@kochgroup.com,C-level,red,aura1
3,Elsinore Waterland,Human Resources,elsinore.waterland@kochgroup.com,Middle level management,yellow,aura2
4,Petronilla Mapes,Human Resources,petronilla.mapes@kochgroup.com,Professional,yellow,aura2

EXPLORATORY DATA ANALYSIS

1. COMMUNICATION PATTERN AND EMAIL VOLUME

In [45]:
#now we start our analysis

#Email volumes and communication patterns

#total email sent

tot_emails = Email_fact_data['Email_id'].count()
tot_emails
#print('total emails for the month of March is:', tot_emails)

1132

In [46]:
#email volume sent by dept
email_by_dept = Email_fact_data['Sender_dept'].value_counts().reset_index(name = "Total_out_going_mails").sort_values("Total_out_going_mails", ascending= False)
email_by_dept

                   Sender_dept  Total_out_going_mails
0         Executive Management                    287
1                    Marketing                    146
2          Product development                    133
3                        Sales                    128
4  Information Technology (IT)                    120
5                        Legal                    117
6             Customer Service                    105
7       Finance and Accounting                     57
8              Human Resources                     39

In [47]:
#email volume incoming/received by department

email_rec_by_dept = Email_fact_data['Rec_dept'].value_counts().reset_index(name = "Tot_incoming_mails").sort_values("Tot_incoming_mails", ascending= False)
email_rec_by_dept

                      Rec_dept  Tot_incoming_mails
0          Product development                 205
1                    Marketing                 164
2                        Sales                 160
3  Information Technology (IT)                 155
4                        Legal                 136
5             Customer Service                 116
6       Finance and Accounting                  90
7              Human Resources                  58
8         Executive Management                  48

In [98]:
#email volume sent by cadre

email_by_cadre = Email_fact_data[['Sender_cadre']].value_counts().reset_index(name = 'Sender_mail_count').sort_values('Sender_mail_count', ascending= False)
email_by_cadre

              Sender_cadre  Sender_mail_count
0             Professional                500
1  Middle level management                345
2                  C-level                287

In [49]:
#emails recieved by cadre
email_rec_by_cadre = Email_fact_data[['Rec_cadre']].value_counts().sort_values(ascending= False)
email_rec_by_cadre

Rec_cadre
Professional               649
Middle level management    435
C-level                     48
Name: count, dtype: int64

In [50]:
#we assign our dataset to a new variable

#email_fact = Email_fact_data

In [107]:
#total emails sent by days
#first we extract days from our date column

email_by_days = Email_fact_data['Msg_Date'].value_counts().reset_index(name='email_count').sort_values('email_count', ascending= False)
email_by_days

     Msg_Date  email_count
0  2024-03-14           77
1  2024-03-13           70
2  2024-03-15           66
3  2024-03-12           66
4  2024-03-29           62
5  2024-03-07           61
6  2024-03-26           53
7  2024-03-27           53
8  2024-03-05           52
9  2024-03-28           51
10 2024-03-06           51
11 2024-03-25           49
12 2024-03-18           49
13 2024-03-11           49
14 2024-03-08           47
15 2024-03-20           46
16 2024-03-21           41
17 2024-03-22           39
18 2024-03-19           34
19 2024-03-04           27
20 2024-03-01           23
21 2024-03-30           16
22 2024-03-23           11
23 2024-03-02            9
24 2024-03-31            9
25 2024-03-16            7
26 2024-03-24            7
27 2024-03-17            5
28 2024-03-03            2

In [101]:
pd.set_option('display.max_rows', 31 )

In [108]:
#now we shall expand our fact table to include the following columns
#this allows us get the weekly email volume
"""
day gives us the day number in the month
day_name = this gives us the name of the day in the week, 
week_no"""
#day
Email_fact_data['Day_of_mon'] = Email_fact_data['Msg_Date'].dt.day

#day_name

Email_fact_data['day_name'] = Email_fact_data['Msg_Date'].dt.day_name()
Email_fact_data

,Email_id,Sender_Name,Sender_cadre,Sender_dept,Rec_name,Rec_cadre,Rec_dept,Email_subject,Msg_Date,Sentiment,Message_status,Device,Within_work_hrs,Within_workdays,Day_of_mon,day_name
0,1,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,Operational Issues,2024-03-14,neutral,opened,desktop,yes,yes,14,Thursday
1,2,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,HR related topics,2024-03-22,positive,opened,mobile,no,yes,22,Friday
2,3,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,Meeting Scheduling,2024-03-26,neutral,unopened,desktop,yes,yes,26,Tuesday
3,4,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,HR related topics,2024-03-11,neutral,opened,mobile,yes,yes,11,Monday
4,5,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,HR related topics,2024-03-11,positive,opened,mobile,yes,yes,11,Monday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1127,1193,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Finance and Accounting,2024-03-28,positive,opened,mobile,yes,yes,28,Thursday
1128,1194,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Finance and Accounting,2024-03-07,negative,opened,desktop,yes,yes,7,Thursday
1129,1195,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Operational Issues,2024-03-14,neutral,opened,desktop,no,yes,14,Thursday
1130,1196,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Meeting Scheduling,2024-03-08,positive,opened,desktop,yes,yes,8,Friday
1131,1197,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Finance and Accounting,2024-03-23,neutral,opened,mobile,no,no,23,Saturday

In [109]:
#next we shall create a custom funcdtion to enable us get the week no

#first we define our function
def week_of_month(dt):
    #next we extract the first day of the month
    first_day = dt.replace(day = 1)
    dom = dt.day
    adjusted_dom = first_day.weekday() + dom
    return  int(np.ceil(adjusted_dom/7.0))



#week_no
week_extract = Email_fact_data['Msg_Date'].apply(week_of_month)
Email_fact_data['Week_of_month'] = 'week' + ' ' + week_extract.astype(str)
Email_fact_data

,Email_id,Sender_Name,Sender_cadre,Sender_dept,Rec_name,Rec_cadre,Rec_dept,Email_subject,Msg_Date,Sentiment,Message_status,Device,Within_work_hrs,Within_workdays,Day_of_mon,day_name,Week_of_month
0,1,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,Operational Issues,2024-03-14,neutral,opened,desktop,yes,yes,14,Thursday,week 3
1,2,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,HR related topics,2024-03-22,positive,opened,mobile,no,yes,22,Friday,week 4
2,3,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,Meeting Scheduling,2024-03-26,neutral,unopened,desktop,yes,yes,26,Tuesday,week 5
3,4,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,HR related topics,2024-03-11,neutral,opened,mobile,yes,yes,11,Monday,week 3
4,5,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,HR related topics,2024-03-11,positive,opened,mobile,yes,yes,11,Monday,week 3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1127,1193,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Finance and Accounting,2024-03-28,positive,opened,mobile,yes,yes,28,Thursday,week 5
1128,1194,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Finance and Accounting,2024-03-07,negative,opened,desktop,yes,yes,7,Thursday,week 2
1129,1195,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Operational Issues,2024-03-14,neutral,opened,desktop,no,yes,14,Thursday,week 3
1130,1196,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Meeting Scheduling,2024-03-08,positive,opened,desktop,yes,yes,8,Friday,week 2
1131,1197,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Finance and Accounting,2024-03-23,neutral,opened,mobile,no,no,23,Saturday,week 4

In [110]:
#now we shall look at the number of emails by days and week
email_days = Email_fact_data['day_name'].explode().value_counts().reset_index(name= 'email_count').sort_values('email_count',ascending = False)
email_days

    day_name  email_count
0     Friday          237
1   Thursday          230
2  Wednesday          220
3    Tuesday          205
4     Monday          174
5   Saturday           43
6     Sunday           23

In [114]:
email_by_dayys = Email_fact_data['day_name'].value_counts().reset_index(name= 'mail_count').sort_values('mail_count', ascending = False)
email_by_dayys

    day_name  mail_count
0     Friday         237
1   Thursday         230
2  Wednesday         220
3    Tuesday         205
4     Monday         174
5   Saturday          43
6     Sunday          23

In [115]:
#weekly emails sent
weekly_email = Email_fact_data['Week_of_month'].explode().value_counts().reset_index(name= 'email_vol').sort_values('email_vol', ascending = False)
weekly_email

#email_weekly = Email_fact_data['Week_of_month'].value_counts()
#email_weekly

  Week_of_month  email_vol
0        week 3        340
1        week 5        293
2        week 2        238
3        week 4        227
4        week 1         34

In [56]:
#weekly and daily email distribution
Email_fact_data.sort_index()
day_week = Email_fact_data.groupby(['Week_of_month', 'Day_of_mon' ,'day_name']).size().reset_index(name = 'daily_mails').sort_values(by = ['Week_of_month', 'daily_mails'], ascending= [True, False])
day_week

   Week_of_month  Day_of_mon   day_name  daily_mails
0         week 1           1     Friday           23
1         week 1           2   Saturday            9
2         week 1           3     Sunday            2
6         week 2           7   Thursday           61
4         week 2           5    Tuesday           52
5         week 2           6  Wednesday           51
7         week 2           8     Friday           47
3         week 2           4     Monday           27
11        week 3          14   Thursday           77
10        week 3          13  Wednesday           70
9         week 3          12    Tuesday           66
12        week 3          15     Friday           66
8         week 3          11     Monday           49
13        week 3          16   Saturday            7
14        week 3          17     Sunday            5
15        week 4          18     Monday           49
17        week 4          20  Wednesday           46
18        week 4          21   Thursday           41
19        week 4          22     Friday           39
16        week 4          19    Tuesday           34
20        week 4          23   Saturday           11
21        week 4          24     Sunday            7
26        week 5          29     Friday           62
23        week 5          26    Tuesday           53
24        week 5          27  Wednesday           53
25        week 5          28   Thursday           51
22        week 5          25     Monday           49
27        week 5          30   Saturday           16
28        week 5          31     Sunday            9

In [57]:
#email by sender_cadre

sender_cadre = Email_fact_data['Sender_cadre'].value_counts().reset_index(name= 'email_vol').sort_values('email_vol', ascending = False)
sender_cadre

              Sender_cadre  email_vol
0             Professional        500
1  Middle level management        345
2                  C-level        287

In [58]:
#email by rec_cadre 
rec_cadre = Email_fact_data['Rec_cadre'].value_counts().reset_index(name= 'email_vol').sort_values('email_vol', ascending = False)
rec_cadre

                 Rec_cadre  email_vol
0             Professional        649
1  Middle level management        435
2                  C-level         48

In [59]:
#volume of email exchnage between departments
email_exc_dept = Email_fact_data.groupby('Sender_dept')['Rec_dept'].value_counts().reset_index(name = "email_vol").sort_values('email_vol', ascending = False)
email_exc_dept

#pd.set_option('display.max_row', 39)

                    Sender_dept                     Rec_dept  email_vol
31          Product development          Product development        125
27                    Marketing                    Marketing        121
0              Customer Service             Customer Service         94
34                        Sales                        Sales         86
16  Information Technology (IT)  Information Technology (IT)         86
..                          ...                          ...        ...
22  Information Technology (IT)              Human Resources          2
21  Information Technology (IT)       Finance and Accounting          2
33          Product development  Information Technology (IT)          2
15              Human Resources  Information Technology (IT)          2
13       Finance and Accounting  Information Technology (IT)          2

[39 rows x 3 columns]

In [116]:
#email exchange type
#here we come up with two categories for inter-dept and intra_dept mails that helps us
email_exc_dept['exc_type'] = ''

for i,  (Sender_dept, Rec_dept) in enumerate(zip(email_exc_dept['Sender_dept'], email_exc_dept['Rec_dept'])):
    if Sender_dept == Rec_dept:
        email_exc_dept.at[i,'exc_type'] = 'intra_mails'
    else:
        email_exc_dept.at[i,'exc_type'] = 'inter_mail'

In [117]:
#expanded email fact data

Email_fact_data['mail_exc_type'] = ''


for i, (Sender_dept, Rec_dept) in enumerate(zip(Email_fact_data['Sender_dept'],Email_fact_data['Rec_dept'])):
    if Sender_dept == Rec_dept:
        Email_fact_data.at[i, 'mail_exc_type'] = 'intra_mails'
    else:
        Email_fact_data.at[i, 'mail_exc_type'] = 'inter_mails'

In [118]:
Email_fact_data.head()

,Email_id,Sender_Name,Sender_cadre,Sender_dept,Rec_name,Rec_cadre,Rec_dept,Email_subject,Msg_Date,Sentiment,Message_status,Device,Within_work_hrs,Within_workdays,Day_of_mon,day_name,Week_of_month,mail_exc_type
0,1,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,Operational Issues,2024-03-14,neutral,opened,desktop,yes,yes,14,Thursday,week 3,inter_mails
1,2,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,HR related topics,2024-03-22,positive,opened,mobile,no,yes,22,Friday,week 4,inter_mails
2,3,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,Meeting Scheduling,2024-03-26,neutral,unopened,desktop,yes,yes,26,Tuesday,week 5,inter_mails
3,4,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,HR related topics,2024-03-11,neutral,opened,mobile,yes,yes,11,Monday,week 3,inter_mails
4,5,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,HR related topics,2024-03-11,positive,opened,mobile,yes,yes,11,Monday,week 3,inter_mails

In [63]:
Email_fact_data[['mail_exc_type']].value_counts(normalize= True).reset_index(name= 'vol_percent')

  mail_exc_type  vol_percent
0   intra_mails     0.637809
1   inter_mails     0.362191

In [64]:
#now we look at volume of email exchange between employees
pd.set_option('display.max_row', 300)
email_exc_emp = Email_fact_data.groupby('Sender_Name')['Rec_name'].value_counts().reset_index(name = 'email_counts').sort_values(by=(['Sender_Name', 'email_counts']), ascending = [True, False])
email_exc_emp

                  Sender_Name                  Rec_name  email_counts
0               Abigael Alred             Katina Darter             8
1               Abigael Alred                Lynett Amy             8
2               Abigael Alred              Reina Trobey             7
3               Abigael Alred            Marilyn Seeman             6
4               Abigael Alred            Madge Torrejon             5
5              Anatole Hansie       Ferdinande Stickels             4
6              Anatole Hansie            Emmey Matoshin             3
7              Anatole Hansie             Faythe Vassel             2
8              Anatole Hansie            Marilyn Seeman             1
9              Anatole Hansie           Maurine Golding             1
10            Angie Penticost          Maribelle Oliver             4
11            Angie Penticost            Mata McGifford             3
12            Angie Penticost              Reina Trobey             1
13              Barry Goundsy             Jorey Deguara             3
14              Barry Goundsy              Maggy Putson             1
15            Blithe Arnaudet   Constantino FitzGilbert            10
16            Blithe Arnaudet            Emmey Matoshin             9
17            Blithe Arnaudet             Ozzy Jeffries             7
18            Chris Consadine            Emmey Matoshin             5
19            Chris Consadine           Grace Spracklin             5
20            Chris Consadine           Maurine Golding             3
21            Chris Consadine            Marilyn Seeman             1
22   Constancia Di Bartolomeo            Jeannie Moggan            14
23   Constancia Di Bartolomeo           Blithe Arnaudet            11
24   Constancia Di Bartolomeo              Leona McAree             9
25   Constancia Di Bartolomeo             Abigael Alred             7
26   Constancia Di Bartolomeo         Corey Scandwright             7
27   Constancia Di Bartolomeo        Elsinore Waterland             7
28   Constancia Di Bartolomeo              Traci Habbal             5
29   Constancia Di Bartolomeo            Anatole Hansie             1
30   Constancia Di Bartolomeo           Angie Penticost             1
31   Constancia Di Bartolomeo             Barry Goundsy             1
32   Constancia Di Bartolomeo           Chris Consadine             1
33   Constancia Di Bartolomeo   Constantino FitzGilbert             1
34   Constancia Di Bartolomeo           Dorie Parradine             1
35   Constancia Di Bartolomeo          Edithe Cinnamond             1
36   Constancia Di Bartolomeo            Elbertine Dowe             1
37   Constancia Di Bartolomeo            Emmey Matoshin             1
38   Constancia Di Bartolomeo             Faythe Vassel             1
39   Constancia Di Bartolomeo       Ferdinande Stickels             1
40   Constancia Di Bartolomeo           Grace Spracklin             1
41   Constancia Di Bartolomeo             Jorey Deguara             1
42   Constancia Di Bartolomeo            Karine Barclay             1
43   Constancia Di Bartolomeo             Katina Darter             1
44   Constancia Di Bartolomeo      Lazarus O'Halleghane             1
45   Constancia Di Bartolomeo            Lisette Loweth             1
46   Constancia Di Bartolomeo                Lynett Amy             1
47   Constancia Di Bartolomeo            Madge Torrejon             1
48   Constancia Di Bartolomeo              Maggy Putson             1
49   Constancia Di Bartolomeo          Maribelle Oliver             1
50   Constancia Di Bartolomeo            Marilyn Seeman             1
51   Constancia Di Bartolomeo            Mata McGifford             1
52   Constancia Di Bartolomeo           Maurine Golding             1
53   Constancia Di Bartolomeo          Minette Southard             1
54   Constancia Di Bartolomeo               Morly Finey             1
55   Constancia Di Bartolomeo        Mort De Benedictis             1
56   Constancia Di Bartolomeo           Nelia Routledge             1
57   Constancia Di Bartolomeo                Oran Benge             1
58   Constancia Di Bartolomeo             Ozzy Jeffries             1
59   Constancia Di Bartolomeo          Petronilla Mapes             1
60   Constancia Di Bartolomeo          Petronille Jouen             1
61   Constancia Di Bartolomeo              Reina Trobey             1
62   Constancia Di Bartolomeo         Rodrique Coulston             1
63   Constancia Di Bartolomeo           Roger Tabbernor             1
64   Constancia Di Bartolomeo           Sumner Blakeway             1
65   Constancia Di Bartolomeo            Tades Querrard             1
66   Constancia Di Bartolomeo            Tamara Brewitt             1
67   Constancia Di Bartolomeo          Theressa Tuddall             1
68    Constantino FitzGilbert             Ozzy Jeffries            10
69    Constantino FitzGilbert           Blithe Arnaudet             9
70    Constantino FitzGilbert              Reina Trobey             1
71          Corey Scandwright  Constancia Di Bartolomeo            14
72          Corey Scandwright             Jorey Deguara            12
73          Corey Scandwright           Blithe Arnaudet             9
74          Corey Scandwright             Abigael Alred             6
75          Corey Scandwright        Elsinore Waterland             4
76            Dorie Parradine              Traci Habbal             6
77            Dorie Parradine           Roger Tabbernor             3
78            Dorie Parradine            Marilyn Seeman             1
79           Edithe Cinnamond            Marilyn Seeman             1
80           Edithe Cinnamond            Mata McGifford             1
81           Edithe Cinnamond              Reina Trobey             1
82             Elbertine Dowe          Petronilla Mapes             4
83             Elbertine Dowe        Elsinore Waterland             1
84             Elbertine Dowe              Reina Trobey             1
85         Elsinore Waterland            Elbertine Dowe            12
86         Elsinore Waterland          Petronilla Mapes             8
87             Emmey Matoshin           Chris Consadine             9
88             Emmey Matoshin       Ferdinande Stickels             7
89             Emmey Matoshin           Grace Spracklin             7
90             Emmey Matoshin           Nelia Routledge             7
91             Emmey Matoshin              Traci Habbal             7
92             Emmey Matoshin           Sumner Blakeway             6
93             Emmey Matoshin            Anatole Hansie             5
94             Emmey Matoshin           Blithe Arnaudet             5
95             Emmey Matoshin            Tades Querrard             4
96             Emmey Matoshin             Faythe Vassel             2
97             Emmey Matoshin           Maurine Golding             1
98              Faythe Vassel            Jeannie Moggan            27
99              Faythe Vassel            Anatole Hansie             2
100             Faythe Vassel           Chris Consadine             2
101             Faythe Vassel            Emmey Matoshin             2
102             Faythe Vassel       Ferdinande Stickels             2
103             Faythe Vassel           Grace Spracklin             2
104             Faythe Vassel           Nelia Routledge             2
105             Faythe Vassel           Sumner Blakeway             2
106             Faythe Vassel            Tades Querrard             2
107             Faythe Vassel            Marilyn Seeman             1
108       Ferdinande Stickels            Emmey Matoshin             6
109       Ferdinande Stickels             Faythe Vassel             2
110       Ferdinande Stickels            Anatole Hansie             1
111       Ferdinande Stickels           Maurine Golding             1
112       Ferdinande Stickels              Reina Trobey             1
113           Grace Spracklin           Grace Spracklin             3
114           Grace Spracklin           Maurine Golding             3
115           Grace Spracklin            Emmey Matoshin             2
116            Jeannie Moggan             Faythe Vassel            28
117            Jeannie Moggan           Maurine Golding            13
118            Jeannie Moggan              Reina Trobey             1
119             Jorey Deguara            Lisette Loweth             9
120             Jorey Deguara          Theressa Tuddall             8
121             Jorey Deguara          Minette Southard             7
122             Jorey Deguara                Oran Benge             7
123             Jorey Deguara         Rodrique Coulston             7
124             Jorey Deguara              Maggy Putson             6
125             Jorey Deguara             Barry Goundsy             5
126            Karine Barclay         Rodrique Coulston             5
127            Karine Barclay              Traci Habbal             5
128            Karine Barclay          Petronille Jouen             4
129            Karine Barclay            Marilyn Seeman             1
130            Karine Barclay              Reina Trobey             1
131             Katina Darter             Abigael Alred             2
132      Lazarus O'Halleghane           Roger Tabbernor            15
133      Lazarus O'Halleghane              Traci Habbal            15
134      Lazarus O'Halleghane              Reina Trobey             1
135              Leona McAree             Jorey Deguara            49
136              Leona McAree             Abigael Alred            17
137              Leona McAree           Blithe Arnaudet            15
138              Leona McAree              Traci Habbal            15
139              Leona McAree  Constancia Di Bartolomeo            13
140              Leona McAree            Jeannie Moggan            11
141              Leona McAree            Emmey Matoshin             8
142              Leona McAree        Elsinore Waterland             6
143              Leona McAree         Corey Scandwright             5
144              Leona McAree            Mata McGifford             4
145            Lisette Loweth             Jorey Deguara             8
146            Lisette Loweth              Reina Trobey             1
147            Lisette Loweth         Rodrique Coulston             1
148                Lynett Amy             Abigael Alred             4
149                Lynett Amy            Madge Torrejon             2
150            Madge Torrejon             Abigael Alred             7
151            Madge Torrejon                Lynett Amy             6
152              Maggy Putson             Jorey Deguara             9
153              Maggy Putson             Barry Goundsy             5
154              Maggy Putson          Theressa Tuddall             3
155          Maribelle Oliver            Tamara Brewitt             3
156          Maribelle Oliver            Mata McGifford             2
157          Maribelle Oliver              Reina Trobey             1
158            Marilyn Seeman              Reina Trobey            13
159            Marilyn Seeman             Abigael Alred             7
160            Marilyn Seeman           Maurine Golding             4
161            Marilyn Seeman            Anatole Hansie             1
162            Marilyn Seeman           Chris Consadine             1
163            Marilyn Seeman           Dorie Parradine             1
164            Marilyn Seeman          Edithe Cinnamond             1
165            Marilyn Seeman             Faythe Vassel             1
166            Marilyn Seeman            Karine Barclay             1
167            Marilyn Seeman               Morly Finey             1
168            Marilyn Seeman        Mort De Benedictis             1
169            Marilyn Seeman          Petronille Jouen             1
170            Marilyn Seeman            Tades Querrard             1
171            Marilyn Seeman            Tamara Brewitt             1
172            Mata McGifford          Edithe Cinnamond            19
173            Mata McGifford        Mort De Benedictis            12
174            Mata McGifford            Tamara Brewitt             9
175            Mata McGifford           Angie Penticost             8
176            Mata McGifford          Maribelle Oliver             8
177            Mata McGifford               Morly Finey             5
178            Mata McGifford              Reina Trobey             1
179           Maurine Golding            Jeannie Moggan            11
180           Maurine Golding            Marilyn Seeman             4
181           Maurine Golding            Anatole Hansie             2
182           Maurine Golding           Chris Consadine             2
183           Maurine Golding            Emmey Matoshin             2
184           Maurine Golding       Ferdinande Stickels             2
185           Maurine Golding           Grace Spracklin             2
186           Maurine Golding           Nelia Routledge             2
187           Maurine Golding           Sumner Blakeway             2
188           Maurine Golding            Tades Querrard             2
189          Minette Southard         Rodrique Coulston             8
190          Minette Southard             Jorey Deguara             5
191               Morly Finey           Angie Penticost             4
192               Morly Finey            Marilyn Seeman             1
193               Morly Finey              Reina Trobey             1
194        Mort De Benedictis            Mata McGifford             5
195        Mort De Benedictis            Tamara Brewitt             4
196        Mort De Benedictis          Edithe Cinnamond             3
197        Mort De Benedictis            Marilyn Seeman             1
198        Mort De Benedictis              Reina Trobey             1
199           Nelia Routledge            Tades Querrard             4
200           Nelia Routledge            Emmey Matoshin             3
201           Nelia Routledge             Faythe Vassel             2
202           Nelia Routledge           Maurine Golding             1
203           Nelia Routledge              Reina Trobey             1
204                Oran Benge             Jorey Deguara             9
205                Oran Benge          Petronille Jouen             3
206             Ozzy Jeffries           Blithe Arnaudet             5
207             Ozzy Jeffries   Constantino FitzGilbert             5
208             Ozzy Jeffries              Reina Trobey             1
209          Petronilla Mapes            Elbertine Dowe             7
210          Petronilla Mapes        Elsinore Waterland             5
211          Petronilla Mapes              Reina Trobey             1
212          Petronille Jouen                Oran Benge             4
213          Petronille Jouen            Karine Barclay             3
214          Petronille Jouen              Traci Habbal             3
215          Petronille Jouen            Marilyn Seeman             1
216              Reina Trobey            Marilyn Seeman             8
217              Reina Trobey             Abigael Alred             3
218              Reina Trobey           Angie Penticost             1
219              Reina Trobey   Constantino FitzGilbert             1
220              Reina Trobey          Edithe Cinnamond             1
221              Reina Trobey            Elbertine Dowe             1
222              Reina Trobey       Ferdinande Stickels             1
223              Reina Trobey            Jeannie Moggan             1
224              Reina Trobey            Karine Barclay             1
225              Reina Trobey      Lazarus O'Halleghane             1
226              Reina Trobey            Lisette Loweth             1
227              Reina Trobey          Maribelle Oliver             1
228              Reina Trobey            Mata McGifford             1
229              Reina Trobey               Morly Finey             1
230              Reina Trobey        Mort De Benedictis             1
231              Reina Trobey           Nelia Routledge             1
232              Reina Trobey             Ozzy Jeffries             1
233              Reina Trobey          Petronilla Mapes             1
234              Reina Trobey         Rodrique Coulston             1
235              Reina Trobey            Tades Querrard             1
236              Reina Trobey            Tamara Brewitt             1
237         Rodrique Coulston          Minette Southard             7
238         Rodrique Coulston             Jorey Deguara             5
239         Rodrique Coulston            Lisette Loweth             4
240         Rodrique Coulston            Karine Barclay             3
241         Rodrique Coulston              Reina Trobey             1
242           Roger Tabbernor      Lazarus O'Halleghane            19
243           Roger Tabbernor              Traci Habbal             6
244           Roger Tabbernor           Dorie Parradine             1
245           Sumner Blakeway           Maurine Golding             3
246           Sumner Blakeway            Emmey Matoshin             1
247            Tades Querrard           Nelia Routledge             3
248            Tades Querrard             Faythe Vassel             2
249            Tades Querrard            Emmey Matoshin             1
250            Tades Querrard            Marilyn Seeman             1
251            Tades Querrard           Maurine Golding             1
252            Tades Querrard              Reina Trobey             1
253            Tamara Brewitt            Mata McGifford             4
254            Tamara Brewitt            Marilyn Seeman             1
255            Tamara Brewitt              Reina Trobey             1
256          Theressa Tuddall              Maggy Putson             5
257          Theressa Tuddall             Jorey Deguara             3
258              Traci Habbal            Emmey Matoshin            11
259              Traci Habbal          Petronille Jouen            10
260              Traci Habbal           Dorie Parradine             9
261              Traci Habbal            Karine Barclay             9
262              Traci Habbal           Roger Tabbernor             7
263              Traci Habbal      Lazarus O'Halleghane             6

In [65]:
#email volume by employees

email_by_emp = Email_fact_data['Sender_Name'].value_counts().reset_index(name = 'sent_mail_count').sort_values(by = 'sent_mail_count', ascending = False)
email_by_emp

                 Sender_Name  sent_mail_count
0               Leona McAree              143
1   Constancia Di Bartolomeo               99
2             Mata McGifford               62
3             Emmey Matoshin               60
4               Traci Habbal               52
5              Jorey Deguara               49
6          Corey Scandwright               45
7              Faythe Vassel               44
8             Jeannie Moggan               42
9             Marilyn Seeman               35
10             Abigael Alred               34
12           Maurine Golding               31
11      Lazarus O'Halleghane               31
13              Reina Trobey               30
14           Blithe Arnaudet               26
15           Roger Tabbernor               26
16   Constantino FitzGilbert               20
17        Elsinore Waterland               20
18         Rodrique Coulston               20
19              Maggy Putson               17
20            Karine Barclay               16
21           Chris Consadine               14
22        Mort De Benedictis               14
25            Madge Torrejon               13
23          Minette Southard               13
24          Petronilla Mapes               13
26                Oran Benge               12
27           Nelia Routledge               11
28          Petronille Jouen               11
29       Ferdinande Stickels               11
30            Anatole Hansie               11
31             Ozzy Jeffries               11
32           Dorie Parradine               10
33            Lisette Loweth               10
34            Tades Querrard                9
37           Angie Penticost                8
36          Theressa Tuddall                8
35           Grace Spracklin                8
38          Maribelle Oliver                6
39            Tamara Brewitt                6
40               Morly Finey                6
41                Lynett Amy                6
42            Elbertine Dowe                6
43             Barry Goundsy                4
44           Sumner Blakeway                4
45          Edithe Cinnamond                3
46             Katina Darter                2

In [66]:
email_rec_emp = Email_fact_data['Rec_name'].value_counts().reset_index(name = 'sent_mail_count').sort_values(by = 'sent_mail_count', ascending = False)
email_rec_emp

                    Rec_name  sent_mail_count
0              Jorey Deguara              104
1             Jeannie Moggan               64
2               Traci Habbal               62
3             Emmey Matoshin               54
4            Blithe Arnaudet               54
5              Abigael Alred               53
6               Reina Trobey               40
7              Faythe Vassel               40
8            Maurine Golding               32
9             Marilyn Seeman               30
10  Constancia Di Bartolomeo               27
11      Lazarus O'Halleghane               27
12           Roger Tabbernor               26
13          Edithe Cinnamond               25
14         Rodrique Coulston               23
15        Elsinore Waterland               23
16            Mata McGifford               21
17            Elbertine Dowe               21
18           Grace Spracklin               20
19          Petronille Jouen               19
20            Tamara Brewitt               19
21             Ozzy Jeffries               19
22            Karine Barclay               18
24       Ferdinande Stickels               17
23   Constantino FitzGilbert               17
25           Nelia Routledge               16
27            Tades Querrard               15
28                Lynett Amy               15
29        Mort De Benedictis               15
30          Minette Southard               15
31            Lisette Loweth               15
26           Chris Consadine               15
32          Maribelle Oliver               14
33           Angie Penticost               14
34          Petronilla Mapes               14
35              Maggy Putson               13
39                Oran Benge               12
40            Anatole Hansie               12
36           Dorie Parradine               12
38          Theressa Tuddall               12
37         Corey Scandwright               12
41             Barry Goundsy               11
42           Sumner Blakeway               11
43              Leona McAree                9
44             Katina Darter                9
45               Morly Finey                8
46            Madge Torrejon                8

In [67]:
#sent and rec volume by dept and name

vol = Email_fact_data.groupby(['Sender_dept', 'Sender_Name'])['Sender_Name'].value_counts().reset_index(name = 'mail_counts').sort_values(by= ['Sender_dept', 'mail_counts'], ascending= [True, False])
vol
#pd.set_option('display.max_row', 50)

                    Sender_dept               Sender_Name  mail_counts
3              Customer Service            Mata McGifford           62
5              Customer Service        Mort De Benedictis           14
0              Customer Service           Angie Penticost            8
2              Customer Service          Maribelle Oliver            6
4              Customer Service               Morly Finey            6
6              Customer Service            Tamara Brewitt            6
1              Customer Service          Edithe Cinnamond            3
9          Executive Management              Leona McAree          143
7          Executive Management  Constancia Di Bartolomeo           99
8          Executive Management         Corey Scandwright           45
10       Finance and Accounting           Blithe Arnaudet           26
11       Finance and Accounting   Constantino FitzGilbert           20
12       Finance and Accounting             Ozzy Jeffries           11
14              Human Resources        Elsinore Waterland           20
15              Human Resources          Petronilla Mapes           13
13              Human Resources            Elbertine Dowe            6
20  Information Technology (IT)            Marilyn Seeman           35
16  Information Technology (IT)             Abigael Alred           34
21  Information Technology (IT)              Reina Trobey           30
19  Information Technology (IT)            Madge Torrejon           13
18  Information Technology (IT)                Lynett Amy            6
17  Information Technology (IT)             Katina Darter            2
22                        Legal             Faythe Vassel           44
23                        Legal            Jeannie Moggan           42
24                        Legal           Maurine Golding           31
30                    Marketing              Traci Habbal           52
27                    Marketing      Lazarus O'Halleghane           31
29                    Marketing           Roger Tabbernor           26
26                    Marketing            Karine Barclay           16
28                    Marketing          Petronille Jouen           11
25                    Marketing           Dorie Parradine           10
32          Product development             Jorey Deguara           49
37          Product development         Rodrique Coulston           20
34          Product development              Maggy Putson           17
35          Product development          Minette Southard           13
36          Product development                Oran Benge           12
33          Product development            Lisette Loweth           10
38          Product development          Theressa Tuddall            8
31          Product development             Barry Goundsy            4
41                        Sales            Emmey Matoshin           60
40                        Sales           Chris Consadine           14
39                        Sales            Anatole Hansie           11
42                        Sales       Ferdinande Stickels           11
44                        Sales           Nelia Routledge           11
46                        Sales            Tades Querrard            9
43                        Sales           Grace Spracklin            8
45                        Sales           Sumner Blakeway            4

In [68]:
#to find out the personel who sent the heighest number of mail for each week

max_mail_sender_weekly = Email_fact_data.groupby('week_of_month')

KeyError: 'week_of_month'

In [ ]:
vol = Email_fact_data.groupby(['Rec_dept', 'Rec_name'])['Rec_name'].value_counts().reset_index(name = 'mail_counts').sort_values(by= ['Rec_dept', 'mail_counts'], ascending= [True, False])
vol
#pd.set_option('display.max_row', 50)

                       Rec_dept                  Rec_name  mail_counts
1              Customer Service          Edithe Cinnamond           25
3              Customer Service            Mata McGifford           21
6              Customer Service            Tamara Brewitt           19
5              Customer Service        Mort De Benedictis           15
0              Customer Service           Angie Penticost           14
2              Customer Service          Maribelle Oliver           14
4              Customer Service               Morly Finey            8
7          Executive Management  Constancia Di Bartolomeo           27
8          Executive Management         Corey Scandwright           12
9          Executive Management              Leona McAree            9
10       Finance and Accounting           Blithe Arnaudet           54
12       Finance and Accounting             Ozzy Jeffries           19
11       Finance and Accounting   Constantino FitzGilbert           17
14              Human Resources        Elsinore Waterland           23
13              Human Resources            Elbertine Dowe           21
15              Human Resources          Petronilla Mapes           14
16  Information Technology (IT)             Abigael Alred           53
21  Information Technology (IT)              Reina Trobey           40
20  Information Technology (IT)            Marilyn Seeman           30
18  Information Technology (IT)                Lynett Amy           15
17  Information Technology (IT)             Katina Darter            9
19  Information Technology (IT)            Madge Torrejon            8
23                        Legal            Jeannie Moggan           64
22                        Legal             Faythe Vassel           40
24                        Legal           Maurine Golding           32
30                    Marketing              Traci Habbal           62
27                    Marketing      Lazarus O'Halleghane           27
29                    Marketing           Roger Tabbernor           26
28                    Marketing          Petronille Jouen           19
26                    Marketing            Karine Barclay           18
25                    Marketing           Dorie Parradine           12
32          Product development             Jorey Deguara          104
37          Product development         Rodrique Coulston           23
33          Product development            Lisette Loweth           15
35          Product development          Minette Southard           15
34          Product development              Maggy Putson           13
36          Product development                Oran Benge           12
38          Product development          Theressa Tuddall           12
31          Product development             Barry Goundsy           11
41                        Sales            Emmey Matoshin           54
43                        Sales           Grace Spracklin           20
42                        Sales       Ferdinande Stickels           17
44                        Sales           Nelia Routledge           16
40                        Sales           Chris Consadine           15
46                        Sales            Tades Querrard           15
39                        Sales            Anatole Hansie           12
45                        Sales           Sumner Blakeway           11

In [ ]:
mail_by_dev = Email_fact_data['Device'].value_counts(normalize= True)
mail_by_dev

Device
desktop    0.759717
mobile     0.240283
Name: proportion, dtype: float64

In [ ]:
mail_by_sent = Email_fact_data['Sentiment'].value_counts()
mail_by_sent

Sentiment
neutral     660
positive    353
negative    119
Name: count, dtype: int64

In [ ]:
mail_stat_by_sent = Email_fact_data.groupby('Sentiment')['Msg_status'].value_counts().reset_index(name = 'counts')
mail_stat_by_sent

  Sentiment Msg_status  counts
0  negative     opened     109
1  negative   unopened      10
2   neutral     opened     595
3   neutral   unopened      65
4  positive     opened     330
5  positive   unopened      23

In [ ]:
#email volume by work hours and work days


work_hours_mail = Email_fact_data['Within_work_hrs'].value_counts(normalize = True).reset_index(name= 'percent')
work_hours_mail

  Within_work_hrs   percent
0             yes  0.805654
1              no  0.194346

In [ ]:
work_day_mail = Email_fact_data['Within_workdays'].value_counts(normalize = True).reset_index(name= 'percent')
work_day_mail

  Within_workdays   percent
0             yes  0.941696
1              no  0.058304

TREND ANALYSIS FOR EMAIL VOLUME AND COMMUNICATIO PATTERN


Here we shall look into our dataset to reveal the following:

weekly
What department sent the max number of emails on a weekly basis,
What department recieved the max number of emails on a weekly basis,
employee with highest number of sent mails for every week,
employee with highest number of recieved mails for each week,
most discussed topic for each week,
departments with most communication for each week,
employee with most communication for each week,
percentage of exchange type for each week,

daily
What department sent the max number of emails on a day basis,
What department recieved the max number of emails on a daily basis,
employee with highest number of sent mails for every day,
employee with highest number of recieved mails for each day,
most discussed topic for each day,
departments with most communication for each day,
employee with most communication for each day,
percentage of exchange type for wach day,

In [120]:
weekly_email_cummax = Email_fact_data.groupby('Week_of_month')['Sender_dept'].value_counts().reset_index(name= 'email_vol')
weekly_email_cummax

   Week_of_month                  Sender_dept  email_vol
0         week 1         Executive Management          7
1         week 1          Product development          7
2         week 1                        Legal          5
3         week 1                    Marketing          5
4         week 1  Information Technology (IT)          3
..           ...                          ...        ...
39        week 5          Product development         34
40        week 5  Information Technology (IT)         32
41        week 5             Customer Service         28
42        week 5              Human Resources          9
43        week 5       Finance and Accounting          7

[44 rows x 3 columns]

In [ ]:
#this syntax yielded error:
max_mail_by_week_dept = pd.DataFrame(columns=['Week_of_month', 'Sender_dept', 'email_vol'])

for i, (Week_of_month, Sender_dept, email_vol) in enumerate(zip([weekly_email_cummax['Week_of_month'], weekly_email_cummax['Sender_dept'], weekly_email_cummax['email_vol']])):
    if weekly_email_cummax['Week_of_month','email_vol'] == weekly_email_cummax.groupby(['Week_of_month'])['email_vol'].max():
      max_mail_by_week_dept.at[i, [Week_of_month, Sender_dept, email_vol]]  = weekly_email_cummax.groupby(['Week_of_month'])['email_vol'].max()
    else:
       pass

ValueError: not enough values to unpack (expected 3, got 1)

In [121]:

max_mail_by_week_dept = pd.DataFrame(columns=['Week_of_month', 'Sender_dept', 'email_vol'])

weekly_max = weekly_email_cummax.groupby(['Week_of_month'])['email_vol'].idxmax()
weekly_max

max_mail_by_week_dept = weekly_email_cummax.loc[weekly_max].reset_index(drop=True)
max_mail_by_week_dept

  Week_of_month           Sender_dept  email_vol
0        week 1  Executive Management          7
1        week 2  Executive Management         65
2        week 3  Executive Management        100
3        week 4  Executive Management         50
4        week 5  Executive Management         65